# Ignore node_modules
node_modules/

# Ignore .env file for environment variables
.env

# Ignore logs
*.log

# Ignore other system files
.DS_Store
Thumbs.db

# Ignore build directories (if any)
build/
dist/

# If you're using IDEs like VSCode
.vscode/
